*{
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 0;

}
header{
	width: 1600px;	

}
.Big_text{
	text-align: center;
	padding-top: 120px;

}
.Big_text p{
	font-size: 16px;
	color: #999999
}
.Big_text h1{
	font-size: 36px;
	color: #648cff
}
.znaku1{
	display: flex;
	font-style: italic;
	justify-content: space-between;
	padding-left: 225px;
	padding-right: 705px ;
	font-size: 141px;
	color: #648cff
}
.znaku2{

	display: flex;
	justify-content: space-between;
	font-style: italic;
	padding-left: 700px;
	padding-right: 200px;
	font-size: 141px;
	color: #648cff
}
.text1{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 260px;
	font-weight: 300;
	padding-right: 700px ;
	padding-left: 240px;
	font-size: 24px;
	
}
.p1{
width: 548px;
}
.p2{
width: 548px;
padding-left: 75px;
}
.little1{
	display: flex;
	justify-content: space-between;
	padding-left: 240px;
	padding-right: 635px;
}
.znaku3{

display: flex;
	font-style: italic;
	justify-content: space-between;
	padding-left: 225px;
	padding-right: 705px ;
	font-size: 141px;
	color: #648cff;
}
.text2{
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 600px;
	font-weight: 300;
	padding-right: 700px ;
	padding-left: 240px;
	font-size: 24px;
}
.little2{
	display: flex;
	justify-content: space-between;
	padding-left: 240px;
	padding-right: 615px;
}
.znaku4{
display: flex;
	font-style: italic;
	justify-content: space-between;
	padding-left: 700px;
	padding-right: 200px;
	font-size: 141px;
	color: #648cff;
}
.about{
	display: flex;
	justify-content: space-between;
	max-width: 1600px;
	background: #648cff;
}
.How{
	padding-top: 125px;
	padding-left: 225px;
	font-size: 24px;
	color: #ffffff;
}
.How p{
	width: 360px;
	padding-top: 45px;
}
.How img{
	padding-top: 30px;
}
.phones{
	padding-right: 200px;
	padding-top: 50px;
}
footer{
	display: flex;
	justify-content: space-between;
	height: 120px;
	max-width: 1600px;
	background-color:#353854;
	padding-top: 100px;
	border-bottom: 2px solid#565b87;

}
footer h1{
	padding-left: 375px;
	font-size: 24px;
	color: #42528b;
	white-space: pre;
}
.napusu{
	display: flex;
	justify-content: space-between;
	padding-right: 150px;
	color:#7f8095;
	padding-left: 140px;
}
footer button{
	font-size: 18px;
	background-color: #353854;
	height: 30px;
	padding-left: 60px;
	border: none;
}
.font{
	color: #fc6a42;
}
.social{
	height: 100%;
    width: 100%;
}
.social button{
}
.contacts{
	color: #565b87;
	max-width: 1600px;
}
.contacts p{
	padding-top: 55px;
	text-align: right;
	padding-right: 375px;
	background-color: #353854;
	padding-bottom: 85px;
}

.b1{
	background: url(C:/Users/МІША/Desktop/ClonePR1/first/gallery/facebook.png) no-repeat;
}
.b2{
	background: url(C:/Users/МІША/Desktop/ClonePR1/first/gallery/instagram.png)no-repeat;
}
.b3{
	background: url(C:/Users/МІША/Desktop/ClonePR1/first/gallery/twitter.png) no-repeat;
}
@media(max-width: 700px){
*{
display: block;
}
.Big_text{
	text-align: center;
	padding-top: 120px;
}
.Big_text p{
	font-size: 16px;
	color: #999999
}
.Big_text h1{
	font-size: 36px;
	color: #648cff
}
.znaku1{
	display: none;
}
.znaku2{
	display: none;
}
.znaku3{
	display: none;
}
.znaku4{
	display: none;
}
.container{
	display: flex;
	justify-content: space-between;
}
}